* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --icon-nav-size: 30px;
}

body {
    width: 100vw;
    background-color: #000000;
    overflow-x: hidden;
    overflow-y: visible;
}

.members-view {
    padding: 3rem 2rem;
    margin-bottom: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    height: 90vh;
}

.member {
    color: white;
    position: relative;
    flex-shrink: 0;
}

.member .user-status {
    display: flex;
    gap: 5px;
    padding: 3px;
    position: absolute;
    bottom: 4px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 17px;
}

.nav-menu {
    padding-inline: 1rem;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    justify-content: space-between;
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: #222222;
}

.nav-menu i{
    font-size: var(--icon-nav-size);
    color: white;
}

.nav-menu .side.left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.side.left .mic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.side.left .vid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}


